{% include 'header.twig' %}

<div class="hero-unit">
    <div class="row-fluid">
      {% if (hashtagAnalytics is defined) %}
        {%  for entity in hashtagAnalytics %}
            <blockquote>
                <p>{{ entity.analyticsText }}</p>
                <small>{{ entity.hashtag }}</small>
            </blockquote>
            <hr>
        {%  endfor %}
      {%  endif %}

	  {% if (userAnalytics is defined) %}
        {%  for entity in userAnalytics %}
            <blockquote>
                <p>{{ entity.analyticsText }}</p>
                <small>{{ entity.user }}</small>
            </blockquote>
            <hr>
        {%  endfor %}
      {%  endif %}
    </div>
</div>

{% include 'footer.twig' %}
